#collection {
    display: none;
}
.slideimg {
    margin: 0 auto;
}
a.bullet {
    position: relative;
    bottom: 2em;
    left: 50%;
    margin: 0 auto;
    opacity: 0.2;
    font-size: x-small;
}
#ctrlBtn {
	position: absolute;
	left: 97%;
	top: 0em;
	opacity: .2;
}
.slideImgContainer.row {
    margin: 0 auto;
}
#slidetimer {
    position: absolute;
	background-color: red;
    height: 5px;
    top: 0;
}