#collection {
    display: none;
}
img.slideimg {
    margin: 0 auto;
}
a.bullet {
    bottom: 2em;
    position: relative;
    left: 50%;
    margin: 0 auto;
    opacity: 0.2;
    font-size: x-small;
}
#ctrlBtn {
	position: relative;
	left: 50%;
	bottom: 2em;
	font-size: medium;
	opacity: .5;
}