#collection {
    display: none;
}
img.slideimg {
    margin: 0 auto;
}
a.bullet {
    bottom: 2em;
    position: relative;
    left: 50%;
    margin: 0 auto;
    opacity: 0.2;
    font-size: x-small;
}
#ctrlBtn {
	position: absolute;
	left: 97%;
	top: 0em;
	opacity: .2;
}
#slidetimer {
	background-color: greenyellow;
    height: 5px;
    width: 0%;
}